.container {
    background-color: white;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .logo {
    max-width: 200px;
    width: 60%;
    height: auto;
  }
  
  .btn {
    width: 100%;
    max-width: 300px;
    background-color: #5edc88;
  }
  
  @media (max-width: 480px) {
    .container {
      padding: 15px;
    }
    
    h2 {
      font-size: 1.5rem;
    }
    
    h4 {
      font-size: 1rem;
    }
  }

.btn :hover{
    transform: translateY(-2px);
    background-color: #16843b;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}