.container {
    background-color: white;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .logo {
    max-width: 200px;
    width: 60%;
    height: auto;
  }
  
  .GetStartedbtn {
    height: 2rem;
    text-align: center;
    text-justify: auto;
    padding: 5px;
    width: 50%;
    max-width: 300px;
    background-color: #4fa4f3;
    border-radius: 8px;
  }
  
  @media (max-width: 480px) {
    .container {
      padding: 15px;
    }
    
    h2 {
      font-size: 1.5rem;
    }
    
    h4 {
      font-size: 1rem;
    }
  }

.GetStartedbtn :hover{
    transform: translateY(-2px);
    background-color: #295fb1;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}