body {
    background-color: rgba(193, 191, 188, 0.516);
    margin: 0;
    padding: 0;
    width: 380px;
}
.container {
    background-color: rgba(228, 227, 227, 0.831);
    width: 412px;
    height: 915px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    margin-top: 0;
}

.logo {
    width: 150px;
    height: auto;
    margin: 10px;
    padding: 10px;
}

.nepali {
    color: red;
}
.english {
    color: green;
}
.namaste {
    width: 200px;
    height: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.welcome-btn {
    padding: 12px 30px;
  background-color: #1daf4e;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.welcome-btn :hover{
    transform: translateY(-2px);
    background-color: #178a3d;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}