.app-footer {
    background-color: #70b5ed;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 40px;
    width: auto;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  }
  .bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    background-color: #ffffff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #e0e0e0;
  }
  
  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #7f8c8d;
    font-size: 0.8rem;
    cursor: pointer;
  }
  
.nav-item:hover{
  transform: translateY(-2px);
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

  .nav-icon {
    font-size: 1.5rem;
    margin-bottom: 5px;
    color: #63839d;
  }